<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>
    <style>
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    }
    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    } 
    .blogs{
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .buttonlink{
        color : white;
    }
    h2 {
        color: #333;
    }
    h5 {
        color: #555;
    }

    a {
        color: #007bff;
        text-decoration: none;
        margin-right: 10px;
    }
    button {
        background-color: #dc3545;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #c82333;
    }
    </style>
</head>
<body>
    <div class="container">
        <h2>Bharath Intern Blog</h2>
        <a href="/articles/new">Create Article</a>
        <div>
            <% articles.map(article => { %>
                <div class="blogs">
                <h4><%=article.title %></h4>
                   <div> <%=article.createdat.toDateString()%> </div>

                <h5><%=article.description %> <span><a href="articles/<%=article.id %>" >Read More</a></span> </h5>
                <a class="buttonlink" href="articles/edit/<%=article.id %>"><button style="background-color:blueviolet " >Edit</button></a>
                <form action="/articles/<%=article.id %>?_method=DELETE" method="POST">
                    <br/>
                    <button type="submit">Delete</button>
                </form>
            </div>
            <% }) %>
        </div>
    </div>
</body>
</html>
